.modal__wrapper {
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
}


.modal {
  cursor: default;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  z-index: 1002;
  gap: 32px;
  padding: 24px 32px;
  border-radius: 20px;
  background-color: #373842;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.01);
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(53, 54, 59, 0.97);
    backdrop-filter: blur(15px);
  }
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.modal__content {
  width: 100%;
  form {
    width: 100%;
  }
}