.BlockAttachments {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  > label
  {
    margin-right: 32px;
    color: #bbb;
  }
  > div
  {
    min-width: 320px;
    width: 100%;
    padding: 16px;
    background-color: #34353d;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }
}

.Image
{
  width: 100%;
  border-radius: 8px;
  outline: 1.5px dashed #777;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  > svg
  {
    width: 36px;
    height: 36px;
  }
}