.Aside
{
  max-height: 70%;
  position: absolute;
  flex-shrink: 0;
  flex-grow: 0;
  transform: translateY(-50%); top: 50%;
  left: 16px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 10000;
  gap: 16px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.01); // лёгкая прозрачность
  backdrop-filter: blur(10px); // размытие фона
  -webkit-backdrop-filter: blur(10px); // для Safari
  border: 1px solid rgba(255, 255, 255, 0.1); // имитация стекла
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); // лёгкая тень
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    backdrop-filter: blur(15px);
  }
}

.AsideCategories {
  overflow-x: scroll;
  height: 100%;
}