.BlockList
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  > label
  {
    margin-right: 32px;
    color: #bbb;
  }
  > div
  {
    width: 100%;
    position: relative;
    > select
    {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      background: #383838;
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
      outline-style: solid;
      outline-width: 1.5px;
      outline-color: #383838;
      border: none;
      transition: 300ms outline-color;
      &::-ms-expand
      {
        display: none;
      }
    }
    > img
    {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      pointer-events: none;
      cursor: pointer;
    }
  }
}