.card
{
  position: relative;
  justify-self: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.1s ease;
  cursor: pointer;

  &:hover {
    backdrop-filter: blur(15px);
    transform: scale(1.02);
  }
}

.menu {
  position: absolute;
  right: 16px;
  top: 16px;
}

.namespace {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  > h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > p {
    font-size: 14px;
    color: #a8a8a8;
  }
}