.Сoordinates
{
  > div
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
  * {
    font-size: 16px;
    font-weight: normal;
  }
}