.Category {
  width: 100%;
  padding: 16px;
  outline: none;
  border: none;
  > details {
    cursor: pointer;
    > summary {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-right: 4px;

      > h4 {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        width: 100%;
        text-align: left;
      }

      > img
      {
        transition: 300ms transform;
      }
    }

    &[open] > summary > img {
      transform: rotate3d(1, 0, 0, 180deg);
    }
  }
  > div
  {
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 300ms;
    overflow: hidden;
    > div
    {
      width: 100%;
      overflow: hidden;
      > div
      {
        margin-top: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
      }
    }
  }
}

.Accordion_details[open] + .Accordion_content {
  grid-template-rows: 1fr;
}