.Workspace {
  width: 100%;
  height: 100%;
  display: flex;
  background: #2d2e37;
  overflow: hidden;
}

.WorkBuffer {
  flex: 1;
  position: relative;
  overflow: hidden;
  cursor: grab;
  &:active { cursor: grabbing; }
}

.GridCanvas {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.Content {
  position: absolute;
  top: 0; left: 0;
  z-index: 1;
  will-change: transform;
}

.SaveButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  > svg {
    width: 32px;
    height: auto;
    transition: transform 0.15s;
    &:hover { transform: scale(1.1); }
    &:active { transform: scale(0.95); }
  }
}

.RunButton {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  background: #67fc5d81;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: transform 0.15s;
  &:hover { transform: scale(1.1); }
  &:active { transform: scale(0.95); }
}


.SaveStatus {
  color: #a8a8a8;
  position: absolute;
  bottom: 16px;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 320px;
  flex-direction: column;
  gap: 16px;
  z-index: 10000;
}