.Workspace {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.WorkBuffer
{
  z-index: 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.Map
{
  z-index: 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  background-image: radial-gradient(circle, #444 1px, transparent 1px); /* Grid dots */
  background-size: 20px 20px;
  background-color: #1e1e1e;
  transition: border 0.2s ease, background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
