.Search {
  width: 100%;
  padding: 16px;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  > h3
  {
    font-size: 19px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    color: white;
  }
  > input
  {
    width: 100%;
    background-color: #41434d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline-style: solid;
    outline-width: 1.5px;
    outline-color: #383838;
    transition: 300ms outline-color;
    &:focus
    {
      border: none;
      outline-color: #4a5878;
    }
  }
}