.TopRightListElements
{
  gap: 16px;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.01); // лёгкая прозрачность
  backdrop-filter: blur(10px); // размытие фона
  -webkit-backdrop-filter: blur(10px); // для Safari
  border: 1px solid rgba(255, 255, 255, 0.1); // имитация стекла
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); // лёгкая тень
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
  }
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  z-index: 10000;
}