.AppPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: absolute;
    width: 90%;
    transform: translateX(-50%);
    left: 50%;
    top: 16px;
    z-index: 100;
    gap: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.01);
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
    }

    h1 {
        margin: 0;
        font-size: 1.5rem;
    }
}

.UserInfo {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
        font-size: 0.9rem;
    }
}

.LogoutButton {
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
    width: 48px;
    height: 48px;
    

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
    > svg {
        height: 32px;
        transition: scale 1s ease;
        &:hover {
            transform: 1;
            scale: 1.1;
        }
    }
}

.Content {
    flex: 1;
    overflow: hidden;
}





