.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto;
  width: 90%;
  height: 100%;
  color: #fff;
  padding-top: 150px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.blockTitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.createButton {
  position: absolute;
  top: 16px;
  right: 24px;
  padding: 1.1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.01);
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
  }
}

.title {

}

.line {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #fff;
}

.test {

}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 32px;
  justify-content: center;
  transition: all 4s ease;

  > * {
    transition: all 4s ease;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  .modal__warning {
    color: #A7A7A7;
  }
  .modal__input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  .modal__input_label {
    align-self: start;
    color: #A7A7A7;
  }
  input {
    width: 90%;
    background-color: #41434d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline-style: solid;
    outline-width: 1.5px;
    outline-color: #383838;
    transition: 300ms outline-color;

    &:focus {
      border: none;
      outline-color: #4a5878;
    }
  }
}

.modal__buttons {
  display: flex;
  gap: 16px;
  width: 80%;
  justify-content: center;

  > button {
    padding: 16px 8px;
    color: #fff;
    font-size: 16px;
    background-color: #41434d;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.01);
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
      background-color: #575a69;
    }
  }
  .delete {
    background-color: #ab5252;

    &:hover {
      background-color: #ce6e6e;
    }
  }

  .save {
    background-color: #689d4b;
    &:hover {
      background-color: #76a45e;
    }
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.01);
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  height: 220px;
  > img {
    width: 7%;
  }
  > div {
    display: flex;
    flex-direction: column;
    > p {
      color: #A7A7A7;
    }
  }
}