.menu {
  min-width: 180px;
  overflow: hidden;
  animation: slideIn 0.2s ease-out;
  color: #fff;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.01);
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: bold;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 16px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: background-color 0.2s ease;
  text-align: left;

  &:hover:not(:disabled) {
    background-color: #575757;
  }

  &:active:not(:disabled) {
    background-color: #575757;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.delete {
  color: #dc2626;

  &:hover:not(:disabled) {
    background-color: #575757;
  }

  svg {
    color: #dc2626;
  }
}
