.BlockAside {
  width: 100%;
  display: grid;
  grid-template-columns: 8px 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #383838;
  transition: 300ms opacity;
  div:last-child {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    > p {
      width: 100%;
      font-size: 13px;
      font-weight: bold;
      color: white;
    }
  }
}