.BlockInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  > label
  {
    margin-right: 32px;
    color: #bbb;
  }
  > input
  {
    width: 100%;
    background-color: #41434d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline-style: solid;
    outline-width: 1.5px;
    outline-color: #383838;
    transition: 300ms outline-color;
    &:focus
    {
      border: none;
      outline-color: #4a5878;
    }
    &:disabled
    {
      background-color: #2f3038;
      color: #8d8d8d;
      outline-color: #555;
      cursor: not-allowed;
    }
  }
}