.BlockTemplate
{
  position: absolute;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  outline-width: 1px;
  outline-style: solid;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #2d2e37;
  color: white;
  overflow: hidden;
  width: fit-content;
  > div
  {
    min-width: 360px;
    width: 100%;
    padding: 16px;
    outline-width: 1px;
    outline-style: solid;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    &:first-child
    {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      > div
      {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
        > button
        {
          width: 28px;
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0;
          background-color: rgba(0,0,0,0);
          cursor: pointer;
          &:hover
          {
            > svg {
              transform: scale(1.16);
            }
          }
          > svg
          {
            width: 24px;
            height: 24px;
            transition: 300ms transform;
          }
        }
        .DragButton
        {
          cursor: grab;
          &:active
          {
            cursor: grabbing;
          }
        }
      }
    }
  }
}